.Container-middle-d {
  width: 98.25%;
  height: 110px;
  display: flex;
  justify-content: space-between;
}

.Border {
  width: 100%;
  height: 75px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  border-left: 1px solid #D8D8D8;
}
