.Desktop-container {
  background-color: #FFFFFF;
  max-width: 1200px;
  width: 100vw;
  height: 110px;
  box-shadow: 0 2px 4px 0 #00000024;
  -webkit-box-shadow: 0 2px 4px 0 #00000024;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-bottom: 10px;
}
