.Content-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 13px;
  padding-bottom: 14px;
}

.Content-button button {
  height: 34px;
  width: 310px;
  border-style: none;
  border-radius: 4px;
  background: linear-gradient(90deg, #d22d4f 0%, #F86358 100%);
  box-shadow: 0 2px 4px 0 #fa5b1e57;
  font-family: Poppins;
  color: #FFFFFF;
  font-size: 10px;
  line-height: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  text-shadow: 0 1px 1px #5f5f5f4d;
}

.Content-button button:focus {
  outline: none;
}